<%- include('../layout/adminheader.ejs') %>

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->                     

                    <!-- alert-->
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                          <% if(error_msg  && error_msg.length > 0 ){ %>
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <strong>Oh no!</strong> <%= error_msg %>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                          <%} %>
                          
                          <% if(success_msg  && success_msg.length > 0 ){ %>
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <strong>Awesome!</strong> <%= success_msg %>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                          <%} %>
                        </div>
                        <div class="col-md-3"></div>
                    </div>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Pending_Payment_Tables </h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                           <th>id</th>
                                            <th>product</th>
                                            
                                            <th>Action</th>
                                        </tr>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>id</th>
                                            <th>product</th>
                                            
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <% if(productholds && productholds.length > 0){%>
                                            <% productholds.forEach((product)=>{
                                                let image = product.image ? product.image : '/upload/undraw_profile.png';
                                                %>

                                                <tr>
                                                    <td><%= product.id %></td>
                                                    <td><%= product.cart_products %></td>
                                                    
                                                    <!-- <td>
                                                        <img src="/uploads/<%= image %>" alt="product image" class="img-thumbnail" style="width: 50px; height: 50px;">
                                                    </td> -->
                                                    <td>
                                                        <a href="/cashier/product/readdtocart?id=<%= product.id %>" class="btn btn-sm btn-primary m-1"><i class="fas fa-plus"></i></div>
                                                        <!-- <a href="/product/cart?id=<%= product.id %>" class="btn btn-sm btn-success m-1">confirm</i></div> -->
                                                        <a href="/cashier/product/delete?id=<%= product.id %>" class="btn btn-sm btn-danger m-1"><i class="fas fa-trash"></i></div>
                                                    </td>
                                                </tr>

                                            <%}) %>
                                        <% }else{%>
                                            <tr>
                                                <td colspan="8" class="text-center">No products found</td>
                                            </tr>
                                        <% } %>
                                            
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up">top</i>
    </a>

            
<%- include('../layout/adminfooter.ejs') %>