<%- include('../layout/adminheader.ejs') %>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                   
                    <!-- analysis -->
                      <!-- for sales page -->
                    <div class="row my-3">
                        <div class="btn btn-outline-primary btn-sm mt-1 mx-3" data-toggle="modal" data-target="#purchaseModal">
                            <i class="fas fa-plus  fa-sm fa-fw mr-2 text-gray-400"></i>
                            New Purchase
                        </div>

                    </div>

                    <!-- end sales page -->
                      

                    
                    <!-- alert-->
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                          <% if(error_msg  && error_msg.length > 0 ){ %>
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <strong>Oh no!</strong> <%= error_msg %>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                          <%} %>
                          
                          <% if(success_msg  && success_msg.length > 0 ){ %>
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <strong>Awesome!</strong> <%= success_msg %>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                          <%} %>
                        </div>
                        <div class="col-md-3"></div>
                    </div>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary"> Purchase DataTables </h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>product_id</th>
                                            <th>product_name</th>
                                            <th>product_image</th>
                                            <th>supplier_id</th>
                                            <th>cartons</th>
                                            <th>Unit_per_carton</th>
                                            <th>unit_cost</th>
                                            <th>Quantity</th>
                                            <th>total_cost</th>
                                            <th>status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                             <th>product_id</th>
                                            <th>product_name</th>
                                            <th>product_image</th>
                                            <th>supplier_id</th>
                                            <th>cartons</th>
                                            <th>Unit_per_carton</th>
                                            <th>unit_cost</th>
                                            <th>Quantity</th>
                                            <th>total_cost</th>
                                            <th>status</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <% if(purchases && purchases.length > 0){%>
                                            <% purchases.forEach((product)=>{
                                                const image = product.product_image ? product.product_image : 'undraw_profile.png'; // Fallback image if none exists
                                                %>

                                                <tr>
                                                    <td><%= product.product_id %></td>
                                                    <td><%= product.product_name %></td>
                                                    <td>
                                                        <img src="/uploads/<%= image %>" alt="product image" class="img-thumbnail" style="width: 50px; height: 50px;">
                                                    </td>
                                                    <td><%= product.supplier_id %></td>
                                                    <td><%= product.cartons %></td>
                                                    <td><%= product.units_per_carton %></td>
                                                    <td><%= product.unit_cost %></td>
                                                    <td><%= product.quantity %></td>
                                                    <td><%= product.total_cost %></td>
                                                    <td><%= product.status %></td>
                                                    
                                                    <td>
                                                        <a href="/product/reversal?id=<%= product.id %>" title="reversal button" class="btn btn-warning text-dark btn-sm mt-1 mx-3" >
                                                            <i class="fas fa-undo fa-sm fa-fw mr-2 text-dark-400"></i>
                                                             Revise
                                                        </a>
                                                        <% if(product.status == 'reverse' ){%>
                                                            <button type="button" title="<%= product.note %>" class="btn btn-success text-dark btn-sm mt-1 mx-3" >
                                                             Reason
                                                            </button>
                                                        <% } %>
                                                    </td>
                                                </tr>

                                            <%}) %>
                                        <% }else{%>
                                            <tr>
                                                <td colspan="8" class="text-center ">No products found</td>
                                            </tr>
                                        <% } %>                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- ======================================================= -->
                            <!-- MODULE -->
    <!-- ======================================================= -->


    <!-- Add purchase Modal-->
    <div class="modal fade" id="purchaseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <div class="col-md-12">
                        <div class="mb-3" style="display: flex;flex-direction: column; justify-content: center; align-items: center;" >
                            <% 
                                let image = product.image ? product.image : 'undraw_profile.png'; // Fallback image if none exists
                            %>
                            <a href="/uploads/<%= image %>"><img src="/uploads/<%= image %>" width="70px" height="70px" style="border-radius: 50%;" alt=""></a>
                            <i class="text-light"><%= product.name %></i>
                        </div>
                        <h5 class="modal-title text-light"  id="exampleModalLabel">New Purchase Form</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                </div>
                <div class="modal-body">
                    
                    <form method="post" action="/product/purchase" >
                        <div class="row text-capitalize">
                          
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="product_id" class="col-form-label">product id:</label>
                                    <input type="number" class="form-control" name="product_id" value="<%= product.id %>" id="product_id">
                                </div>
                            </div>
                           
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="product">supplyer:</label>
                                    <input list="products" name="supplyer_id" id="product" class="form-control">
                                    <datalist id="products">
                                        <% if(suppliers && suppliers.length > 0){%>
                                            <% suppliers.forEach((item) => { %>
                                                <option value="<%= item.id %>"><%= item.name %> <%= item.company %></option>
                                            <% }) %>
                                        <% } else { %>
                                            <option value="No products available">No products available</option>

                                        <%} %>
                                    
                                    </datalist>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="carton" class="col-form-label">carton:</label>
                                    <input type="number" class="form-control" name="carton" id="cartonPrice">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="unit_per_carton" class="col-form-label">unit per carton:</label>
                                    <input type="number" class="form-control" name="unit_per_carton" value="<%= product.unit_per_carton %>" id="cartonPrice">
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="mb-3">
                                    <label for="unit-cost-price" class="col-form-label">unit cost price:</label>
                                    <input type="number" class="form-control" name="unit_cost_price" value="<%= product.unit_cost_price %>" id="cartonPrice">
                                </div>
                            </div>
                           
                        </div>
                            <button class="btn btn-primary" type="submit" onclick="" id="addNewProduct">Add</button>
                        
                    </form>        
                </div>
            </div>
        </div>
    </div>
<%- include('../layout/adminfooter.ejs') %>
