<%- include("../layout/adminheader.ejs") %>


                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                   
                    <!-- analysis -->
                      <!-- for sales page -->
                    <div class="row">
                        <% 
                        if(cashierAnalysis){
                            let amount = Number(cashierAnalysis.total_sales_amount).toLocaleString('en-NG', { style: 'currency', currency: 'NGN' });
                            console.log('yes')
                            %>
        
                                    <!-- Earnings (Monthly) Card Example -->
                                        <div class="col-xl-3 col-md-6 mb-4">
                                            <div class="card border-left-primary shadow h-100 py-2">
                                                <div class="card-body">
                                                    <div class="row no-gutters align-items-center">
                                                        <div class="col mr-2">
                                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                            Total Sales Amount (Today)</div>
                                                            <div class="h5 mb-0 font-weight-bold text-gray-800"><%= amount %>  </div>
                                                        </div>
                                                        <div class="col-auto">
                                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
        
                                    <!-- Earnings (Monthly) Card Example -->
                                        <div class="col-xl-3 col-md-6 mb-4">
                                            <div class="card border-left-success shadow h-100 py-2">
                                                <div class="card-body">
                                                    <div class="row no-gutters align-items-center">
                                                        <div class="col mr-2">
                                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                             Number of Sales (Today)</div>
                                                            <div class="h5 mb-0 font-weight-bold text-gray-800"><%= cashierAnalysis.total_sales_count %> </div>
                                                        </div>
                                                        <div class="col-auto">
                                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    <!-- Earnings (Monthly) Card Example -->
                                        <div class="col-xl-3 col-md-6 mb-4">
                                            <div class="card border-left-warning shadow h-100 py-2">
                                                <div class="card-body">
                                                    <div class="row no-gutters align-items-center">
                                                        <div class="col mr-2">
                                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                             Pending Sales (Today)</div>
                                                            <div class="h5 mb-0 font-weight-bold text-gray-800"><%= pendingSales %> </div>
                                                        </div>
                                                        <div class="col-auto">
                                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                <% } else { %>
                                    <!-- Earnings (Monthly) Card Example -->
                                        <div class="col-xl-3 col-md-6 mb-4">
                                            <div class="card border-left-primary shadow h-100 py-2">
                                                <div class="card-body">
                                                    <div class="row no-gutters align-items-center">
                                                        <div class="col mr-2">
                                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                                 Total Sales Amount (Today)</div>
                                                            <div class="h5 mb-0 font-weight-bold text-gray-800">NGN 0</div>
                                                        </div>
                                                        <div class="col-auto">
                                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <!-- Earnings (Monthly) Card Example -->
                                        <div class="col-xl-3 col-md-6 mb-4">
                                            <div class="card border-left-primary shadow h-100 py-2">
                                                <div class="card-body">
                                                    <div class="row no-gutters align-items-center">
                                                        <div class="col mr-2">
                                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                                Number of Sales (Today)</div>
                                                            <div class="h5 mb-0 font-weight-bold text-gray-800">0</div>
                                                        </div>
                                                        <div class="col-auto">
                                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <!-- Earnings (Monthly) Card Example -->
                                        <div class="col-xl-3 col-md-6 mb-4">
                                            <div class="card border-left-warning shadow h-100 py-2">
                                                <div class="card-body">
                                                    <div class="row no-gutters align-items-center">
                                                        <div class="col mr-2">
                                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                                Payment Breakdown</div>
                                                            <div class="h5 mb-0 font-weight-bold text-gray-800"> none </div>
                                                        </div>
                                                        <div class="col-auto">
                                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                <% } %>
                           
                       
                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <button class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#addsales" >Add New sales</button>
                                            <button class="btn btn-outline-primary btn-sm mt-1" >Generate Report</button>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- end sales page -->
                      

                    <!-- analysis-->

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">DataTables </h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <!-- <th>##</th> -->
                                            <th>user_id</th>
                                            <th>user_role</th>
                                            <th>customer_type</th>
                                            <th>payment_Method</th>
                                            <th>Total_amount</th>
                                            <th>paid_amount</th>
                                            <th>change</th>
                                            <th>date</th>
                                            <th>action</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                         <tr>
                                            <!-- <th>##</th> -->
                                            <th>user_id</th>
                                            <th>user_role</th>
                                            <th>customer_type</th>
                                            <th>payment_Method</th>
                                            <th>Total_amount</th>
                                            <th>paid_amount</th>
                                            <th>change</th>
                                            <th>date</th>
                                            <th>action</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                         <% if(sales && sales.length > 0){%>
                                            <% sales.forEach((product)=>{
                                                let image = product.image ? product.image : '/upload/undraw_profile.png';
                                                %>

                                                <tr>
                                                    <td><%= product.user_id %></td>
                                                    <td><%= product.user_role %></td>
                                                    <td><%= product.customer_type %></td>
                                                    <td><%= product.payment_method %></td>
                                                    <td><%= product.total_amount %></td>
                                                    <td><%= product.paid_amount %></td>
                                                    <td><%= product.change_given %></td>
                                                    <td><%= product.created_at %></td>
                                                   
                                                    <td>
                                                        <a href="sales/printreceipt/<%= product.id %>" class="btn btn-sm btn-primary m-1"><i class="fas fa-print"></i></div>
                                                        <a href="sales/item?salesId=<%= product.id %>" class="btn btn-sm btn-primary m-1"><i class="fas fa-file-alt"></i></div>
                                                        
                                                    </td>
                                                </tr>

                                            <%}) %>
                                        <% }else{%>
                                            <tr>
                                                <td colspan="10" class="text-center">No products found</td>
                                            </tr>
                                        <% } %>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>


<%- include("../layout/adminfooter.ejs") %>
