<%- include("../layout/adminheader.ejs") %>
    <div class="row my-3">

        <!-- alert-->
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <% if(error_msg  && error_msg.length > 0 ){ %>
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Oh no!</strong> <%= error_msg %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <%} %>
                
                <% if(success_msg  && success_msg.length > 0 ){ %>
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Awesome!</strong> <%= success_msg %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <%} %>
            </div>
            <div class="col-md-3"></div>
        </div>

        <div class="col-md-6 text-capitalize">
            <div class="mt-5 mx-3 " >
                <div class="h4 text-dark text-bold bg-gray-500 p-3 ">Update product</div>
                <form method="post" action="/product/add" enctype="multipart/form-data">
                        <div class="row text-capitalize">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="product_name" class="col-form-label">product Name:</label>
                                    <input type="text" class="form-control" value="<%= product.name %>" name="pName" id="product_name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="cartonCostPrice" class="col-form-label">carton Cost price:</label>
                                    <input type="number" class="form-control" name="cartonCostPrice" id="cartonCost">
                                </div>
                            </div>
                             <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="cartonSellingPrice" class="col-form-label">carton selling price:</label>
                                    <input type="number" class="form-control" name="cartonSellingPrice" id="cartonPrice">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="unitPerCarton" class="col-form-label">unit per carton:</label>
                                    <input type="number" class="form-control" name="unitPerCarton" id="unitPerCarton">
                                </div>
                            </div>
                           

                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="unitCostPrice" class="col-form-label">Unit cost price:</label>
                                    <input type="number" class="form-control" name="unitCostPrice" id="unitCostPrice">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="unitSellingPrice" class="col-form-label">Unit selling price:</label>
                                    <input type="number" class="form-control" name="unitSellingPrice" id="recipient-name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="quantity" class="col-form-label">quantity:</label>
                                    <input type="number" class="form-control" name="quantity" id="quantity">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="treshold" class="col-form-label">treshold:</label>
                                    <input type="number" class="form-control" name="treshold" id="treshold">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="is-promo"  class="col-form-label">is_promo:</label>
                                    <select name="is_promo"  class="form-control">
                                        <option value="false">false</option>
                                        <option value="true">True</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="category"  class="col-form-label">Cathegory:</label>
                                    <select name="category"  class="form-control">
                                        <% if(categories && categories.length > 0){ %>
                                            <% categories.forEach((category)=>{ %>
                                                <option value="<%= category.id %>"><%= category.name %></option>
                                            <% }) %>
                                        <% }else{%>
                                            <option value="">No categories found</option>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <label for="product_image" class="col-form-label">product image:</label>
                                    <input type="file" name="pImage" class="form-control"  id="recipient-name">
                                </div>
                            </div>
                        </div>
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                            <button class="btn btn-primary" type="button" onclick="newProduct()" id="addNewProduct">Add</button>
                        
                    </form>    
            </div>
        </div>

        <div class="col-md-6"></div>        
    </div>




<%- include("../layout/adminfooter.ejs") %>